{% extends 'base.html.twig' %}

{% block title %}Modifer l'utilisateur{% endblock %}

{% block body %}

{{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
<br>
<a class="btn btn-primary btn-sm" href="{{ path('app_rapport_index') }}">Retour à la liste des rapports</a>

{% endblock %}